@page "/hackatons"
@using hackaton.WEB.Repositories
@using hackaton.shared.Entities
@using hackaton.WEB.Shared

@inject IRepository repository
@inject SweetAlertService swal
@inject NavigationManager navigationManager

<h3>Hackatons</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/hackatons/create">New Hackaton</a>
</div>

<GenericList MyList="Hackatons">
    <Body>
        <table class="table table-striped">
               <thead>
            <tr>
                <th>Hackaton</th>
            </tr>
    </thead>
        <tbody>
                @foreach (var hackaton in Hackatons!)
                {
                    <tr>
                        <td>@hackaton.Name </td>
                        <td>@hackaton.Topic</td>
                        <td>@hackaton.StartDate </td>
                        <td>@hackaton.EndDate</td>
                        <td>@hackaton.Organizer</td>    
                        <td>
      
                            <a href="/hackatons/edit/@hackaton.Id" class="btn btn-warning btn-sm"><i class="oi oi-pencil" /> Editar</a>
                            <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(hackaton))><i class="oi oi-trash" /> Borrar</button>
                        </td>
                    </tr>
                }

                </tbody>

            </table>
    </Body>
</GenericList>

@code {
    public List<Hackaton> Hackatons { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.GetAsync<List<Hackaton>>("/api/hackatons");
        Hackatons = responseHppt.Response!;
    }

    private async Task DeleteAsync(Hackaton Hackaton)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.DeleteAsync($"api/hackatons/{Hackaton.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}

