@page "/projects"
@using hackaton.WEB.Repositories
@using hackaton.shared.Entities
@using hackaton.WEB.Shared

@inject IRepository repository
@inject SweetAlertService swal
@inject NavigationManager navigationManager

<h3>Proyectos</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/projects/create">Nuevo proyecto</a>
</div>

<GenericList MyList="Projects">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre proyecto</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>Fecha entrega</th>
                    <th>Equipo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Projects!)
                {
                    <tr>
                        <td>@project.Name </td>
                        <td>@project.Description</td>
                        <td>@project.Status</td>
                        <td>@project.EndDate</td>
                        <td>@project.Team.Name </td>
                        <td>
                            <a href="/projects/edit/@project.Id" class="btn btn-warning btn-sm"><i class="oi oi-pencil" /> Editar</a>
                            <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(project))><i class="oi oi-trash" /> Borrar</button>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </Body>
</GenericList>

@code {
    public List<Project> Projects { get; set; }
    public List<Team> Teams { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.GetAsync<List<Project>>("/api/projects");
        Projects = responseHppt.Response!;
    }

    private async Task DeleteAsync(Project Project)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.DeleteAsync($"api/projects/{Project.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}

